#voting-state-panel {
    margin: 1rem auto;
}

#voting-state-panel .card {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem; 
    min-height: 8rem;
}

#voting-state-panel .card img {
    max-height: 6rem;
    min-width: 5rem;
    width: auto;
    margin: auto auto auto 1rem;
}

#voting-state-panel .card-body {
    text-align: right;
}