 #change-status-container {
    margin: 1rem auto;
    padding-top: 1rem;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
    text-align: center;
    font-size: .9em;
    border: none;
}

#change-status-container .card {
    border: none;
    margin-bottom: 1rem;
}
  
#change-status-container  .stepIndicator {
    background: transparent;
    position: relative;
    flex: 1;
    padding-bottom: 30px;
    color: darkgrey;
}

#change-status-container  .stepIndicator.active {
    font-weight: 600;
    color: black;
    border-color: black;
}
#change-status-container  .stepIndicator.finish {
    font-weight: 600;
    color: lightgrey;
}

#change-status-container  .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #d5efed;
    border-radius: 50%;
    border: 3px solid #ecf5f4;
}

#change-status-container  .stepIndicator.active::before {
    background-color: #a7ede8;
    border: 3px solid #d5f9f6;
}

#change-status-container  .stepIndicator.finish::before {
    background-color: #009688;
    border: 3px solid #b7e1dd;
}

#change-status-container  .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}

#change-status-container  .stepIndicator.active::after {
    background-color: #a7ede8; 
}

#change-status-container  .stepIndicator.finish::after {
    background-color: #009688;
}

#change-status-container  .stepIndicator:last-child:after {
    display: none;
}

#change-status-container .card-body {
    font-size: 1em; 
}

#change-status-container  .stepIndicator.next .card-body {
    background-color: rgba(176, 237, 232, 0.3);
    border-radius: 50%;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    cursor: pointer;
}

#change-status-container .stepIndicator.next .card-body:hover {
    background-color: rgba(176, 237, 232, 0.4);
    box-shadow: 0px 6px 18px rgb(0 0 0 / 18%);
}

